.button {
    display: block;
    margin: 30px 7% 5px;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 0 20px 2px rgba(15, 15, 15, 0.2);
    user-select: none;
    background-color: white;
}

.button:hover{
    box-shadow: 0 0 20px 2px rgba(15, 15, 215, 0.5);
}