.activeItem {
  display: block;
  width: 400px;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 0 20px 2px rgba(15, 15, 15, 0.2);
  user-select: none;
  position: absolute;
  pointer-events: none;
  z-index: 1;
  opacity: 0.3;
}
